/*Propiedades del documento en general*/
*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ====================================== HEADER ====================================== */
/*Propiedades principales del encabezado del sitio*/
.encabezado{
    width: 100%;
    height: 4rem;
    position: fixed;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 85%, rgb(0, 0, 0));
    display: flex;
    align-items: center;
}
/*Eliminamos la decoración del link*/
a{ text-decoration: none; color: black; cursor: pointer; }
/*El titulo del encabezado se quedará del lado izquierdo*/
#titlePage{ margin-left: 15px; }
/*Propiedades del contenedor de la lista*/
#listaHeader{ width: 85%; justify-content: space-between; margin-left: auto; display:flex; padding: 0; }
/*Comportamiento de los elementos de la lista al pasar el mouse*/
#listaHeader a:hover{ color: brown; }
/*Propiedades de los elementos de la lista*/
li{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    font:  bold 18px bold;
    border-left: 2px solid;
}
/*Tamaño de las imagenes del encabezado*/
header img{ width: 18px; }
/*Tamaño de las imagenes de las opciones del encabezado*/
#opciones img{
    width: 36px;
    display: none !important; /*display: flex; /*Para que desaparezca el area que ocupa*/
    visibility: hidden !important; /*visibility: visible; /*Para que se haga invisible*/
}
/* ====================================== CONTENIDO ====================================== */
/*Contenedor principal*/
.contenedor{ height: 60rem; display: grid; grid-template-columns: 15% 85%; }
/*Contenedor de sub titulo*/
#subPanel{ grid-column: 1/2; background-color: black; display: flex; justify-content: center; }
/*Características del sub titulo*/
#subPanel p{
    color: white;
    font: bolder 50px bolder;
    transform: rotate(270deg);
    position: fixed;
    top: 40%;
}
/*Contenedor del contenido*/
main{ display: flex; grid-column: 2/3; background-color: beige; }
/*Contenedor de los secciones CRUD*/
.contForm{ margin: auto; width: 90%; height: 80%; padding: 20px; }
/*Contenedor del formulario*/
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Contenedor de los datos del formulario*/
fieldset{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0;
    text-align: center;
    font: bolder 15px bolder;
}
/*Leyenda del contenedor de los datos del formulario*/
legend{ font-size: 30px; margin-bottom: 20px; }
/*Contenedor de los datos*/
.datosAdd{ height: 50%; display: flex; }
/*Características de los label*/
label{ font: bolder 24px bolder; }
/*Características de los inputs del formulario*/
input{ width: 90%; height: 30px; font-size: 18px; margin-bottom: 10px; text-align: center;}
/*Contenedor de la descripción del producto*/
#contDesc{ width: 98%; height: 40%; margin: auto auto 0 auto; }
/*Label de DESCRIPCIÓN del textarea*/
.descText{ margin: 35px auto 10px auto; }
/*Características del textarea de descripción del producto*/
textarea{ margin: 20px auto 10px auto; width: 96%; height: 80%; font-size: 20px; padding: 0px 10px; resize: none; }
/*Contenedor de los botones*/
.contBtn{ margin: auto; width: 90%; height: 15%; display: flex; justify-content: center; }
/*Características de los botones*/
.btnStyle1{
    width: 8rem;
    height: 3rem;
    font: bolder 20px bolder;
    margin: auto 20px;
    color: white;
    background-color: black;
}
/*Características de los botones al pasar el mouse*/
.btnStyle1:hover{ color: black; background-color: white; }
/*Inputs de la sección buscar*/
.searchInput{ background-color: rgb(211, 211, 211); } 
/*Contenedor de la tabla*/
.tableData{ width: 90%; height: 50rem; margin: 6rem auto 10rem auto; }
/*Titulo de la sección de leer*/
.tableData p{ font-size: x-large; text-align: center; margin-bottom: 20px; }
/*Características de la tabla*/
table{ width: 90%; height: 90%; margin: auto; }
/*Características del encabezado de la tabla*/
thead{ width: 100%; background-color: rgb(0, 0, 0); color: white; }
/*Datos de la tabla*/
tbody{ display: block;}
/*Columnas*/
th{ width: 16.5%; border-bottom: 2px solid rgb(0, 0, 0); }
/*Filas*/
tr{ display: flex; justify-content: space-around; }
/*Celdas*/
td{ width: 100%; text-align: center; border: 2px solid black; margin: 0;}
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
                        /*VISIVILIDAD DE LOS CONTENEDORES CRUD*/
    #addV{ display: block; }
    #searchV{ display: none; }
    #editV{ display: none; }
    #deleteV{ display: none; }
    #readV{ display: none; }
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ====================================== FOOTER ====================================== */
/*Características del contenedor del footer*/
.downFooter{ 
    bottom: 0; 
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255) 15%); 
    font: bolder 20px bolder;
}
/*Texto de soporte técnico*/
footer p{ text-align: center; width: 70%; }
/*Opciones adicionales*/
#download{ color: rgb(57, 156, 12); }