/*Propiedades del documento en general*/
*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ====================================== HEADER ====================================== */
/*Propiedades principales del encabezado del sitio*/
.encabezado{
    width: 100%;
    height: 4rem;
    position: fixed;
    top: calc(100% - 4rem);
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255) 15%);
    display: flex;
    align-items: center;
    z-index: 1;
}
/*Eliminamos la decoración del link*/
a{ text-decoration: none; color: black; cursor: pointer; }
/*El titulo del encabezado se quedará del lado izquierdo*/
#titlePage{ margin-left: 10px; font-size: 28px; }
/*Propiedades del contenedor de la lista*/
#listaHeader{
    background-color: white;
    position: absolute;
    bottom: calc(100%);
    width: 100%;
    height: 15rem;
    display: grid;
    align-items: center;
    padding: 0;
    border-top: 2px solid black;
    visibility: hidden; /*Para que se haga invisible*/
}
/*Comportamiento de los elementos de la lista*/
#listaHeader a{ color: black; margin: 8px auto;}
/*Comportamiento de los elementos de la lista al pasar el mouse*/
#listaHeader a:hover{ color: brown; border-bottom: 2px solid brown; }
/*Propiedades de los elementos de la lista*/
li{ width: 100%; display: flex; justify-content: center; list-style: none; font:  bold 20px bold; }
/*Tamaño de las imagenes del encabezado*/
header img{ width: 18px; }
/*Tamaño de las imagenes de las opciones del encabezado*/
#opciones{ position: fixed; right: 20px; width: 40px; cursor: pointer; }
/*Ver solo el ícono opciones desde el principio*/
#opc{ display: block; }
/*Dejar invisible el ícono "cancelar" desde el princi*/
#cancel{ display: none; }
/*Características de las imagens de opciones de menu*/
#opciones img{ width: 100%; }
/* ====================================== CONTENIDO ====================================== */
/*Contenedor principal*/
.contenedor{ display: flex; flex-direction: column; }
/*Contenedor de sub titulo*/
#subPanel{ width: 100%; height: 6rem; background-color: black; position: fixed; top: 0; }
/*Características del sub titulo*/
#subPanel p{ color: white; font: bolder 40px bolder; text-align: center; }
/*Contenedor del contenido*/
main{ background-color: beige; }
/*Contenedor de los secciones CRUD*/
.contForm{ margin: 7rem auto auto auto; width: 95%; height: 80%; padding: 20px; }
/*Contenedor del formulario*/
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Contenedor de los datos del formulario*/
fieldset{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0;
    text-align: center;
    font: bolder 15px bolder;
}
/*Leyenda del contenedor de los datos del formulario*/
legend{ font-size: 30px; margin-bottom: 20px; }
/*Contenedor de los datos*/
.datosAdd{ margin: 0 auto auto auto; width: 50%; height: 60%; display: flex; flex-direction: column;}
/*Características de los label*/
label{ font: bolder 24px bolder; }
/*Características de los inputs del formulario*/
input{ width: 100%; height: 30px; font-size: 18px; margin-bottom: 10px; text-align: center;}
/*Contenedor de la descripción del producto*/
#contDesc{ width: 98%; height: 40%; margin: 20px auto 0 auto; }
/*Label de DESCRIPCIÓN del textarea*/
.descText{ margin: 35px auto 10px auto; }
/*Características del textarea de descripción del producto*/
textarea{ width: 50%; height: 90%; font-size: 20px; padding: 0px 10px; resize: none;}
/*Contenedor de los botones*/
.contBtn{ margin: auto; width: 90%; height: 15%; display: flex; justify-content: center; padding-bottom: 5rem;}
/*Características de los botones*/
.btnStyle1{
    width: 8rem;
    height: 3rem;
    font: bolder 20px bolder;
    margin: auto 20px;
    color: white;
    background-color: black;
}
/*Características de los botones al pasar el mouse*/
.btnStyle1:hover{ color: black; background-color: white; }
/*Contenedor de la tabla*/
.tableData{ width: 100%; height: 50rem; margin: 10rem auto 5rem auto; }
/*Titulo de la sección de leer*/
.tableData p{ font-size: x-large; text-align: center; margin-bottom: 20px; }
/*Características de la tabla*/
table{ width: 100%; height: 90%; margin: auto; }
/*Características del encabezado de la tabla*/
thead{ width: 100%; background-color: rgb(0, 0, 0); color: white; }
/*Datos de la tabla*/
tbody{ display: block;}
/*Columnas*/
th{ width: 16.5%; border-bottom: 2px solid rgb(0, 0, 0); }
/*Filas*/
tr{ display: flex; justify-content: space-around; }
/*Celdas*/
td{ width: 100%; text-align: center; border: 2px solid black; margin: 0;}
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
                        /*VISIVILIDAD DE LOS CONTENEDORES CRUD*/
    #addV{ display: block; }
    #searchV{ display: none; }
    #editV{ display: none; }
    #deleteV{ display: none; }
    #readV{ display: none; }
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ====================================== FOOTER ====================================== */
/*Características del contenedor del footer*/
.downFooter{
    position: relative;
    bottom: 4rem;
    z-index: 0;
    display: flex; 
    justify-content: center;
    font: bolder 20px bolder;
}
/*Texto de soporte técnico*/
footer p{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    background-color: black; color: white;
    font-size: 50%;
}